<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="issuecount-iOS-TODAYdotAPP-28" data-view="Graph"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="issuecount-iOS-TODAYdotAPP-23" data-view="Graph" style="opacity:0.7"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="issuecount-iOS-TODAYdotAPP-21" data-view="Graph" style="opacity:0.7"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="issuecount-iOS-TODAYdotAPP-29" data-view="Graph" style="opacity:0.7"></div>
    </li>
  </ul>
</div>