<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-codecoverage-Unit-NEWS-iOS" data-view="Meter" data-title="NBC News Code Coverage" data-suffix="%" data-min="0" data-max="100" class="ioscolor" data-criticalvalue=50 data-moreinfo="Lines Covered"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-codecoverage-Unit-TODAY-iOS" data-view="Meter" data-title="TODAY Code Coverage" data-suffix="%" data-min="0" data-max="100" class="ioscolor" data-criticalvalue=50 data-moreinfo="Lines Covered"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-codecoverage-Unit-NEWS-Android" data-view="Meter" data-title="NBC News Code Coverage" data-suffix="%" data-min="0" data-max="100" class="androidcolor" data-criticalvalue=50 data-moreinfo="Methods Covered"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-codecoverage-Unit-TODAY-Android" data-view="Meter" data-title="TODAY Code Coverage" data-suffix="%" data-min="0" data-max="100" class="androidcolor" data-criticalvalue=50 data-moreinfo="Methods Covered"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-codecoverage-change-Unit-NEWS-iOS" data-view="Number" data-title="NBC News Code Coverage" class="ioscolor" data-moreinfo="Coverage Change"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-codecoverage-change-Unit-TODAY-iOS" data-view="Number" data-title="TODAY Code Coverage" class="ioscolor" data-moreinfo="Coverage Change"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-codecoverage-change-Unit-NEWS-Android" data-view="Number" data-title="NBC News Code Coverage" class="androidcolor" data-moreinfo="Coverage Change"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-codecoverage-change-Unit-TODAY-Android" data-view="Number" data-title="TODAY Code Coverage" class="androidcolor" data-moreinfo="Coverage Change"></div>
    </li>
  </ul>
</div>