<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [300, 240]
});
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="issuecount-iOS-TODAYdotAPP-28" data-view="Graph" class="ioscolor"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="issuecount-Android-NewsApps-24" data-view="Graph" class="androidcolor"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="histogram-df8fedf789dc641b0128602f762fb64b" data-view="Graph" class="ioscolor" data-moreinfo="Crashes Today" data-graphtype="bar"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="histogram-f1a5754e8955d5626608f9d0dae72a8d" data-view="Graph" class="ioscolor" data-moreinfo="Crashes Today" data-graphtype="bar"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="histogram-0860a85c47fb54a88639e37d1d5b9601" data-view="Graph" class="androidcolor" data-moreinfo="Crashes Today" data-graphtype="bar"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="histogram-2b3d858c929396b203a116816826f45e" data-view="Graph" class="androidcolor" data-moreinfo="Crashes Today" data-graphtype="bar"></div>
    </li>
  </ul>
</div>